@use 'reset';

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* INDEX start */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body {
    font-family: Times;
    background-color: #f7f7f7;
    padding: 0 16px;
    max-width: 1000px;
    margin: 32px auto;
}

img {
    font-style: italic;
}

table, th, td {
    border: 1px solid;
    text-align: left;
}

th, td {
    padding: 3px 6px;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    background-color: white;
}

pre {
    margin-bottom: 32px;
    padding: 1em;
    border-radius: 3px;
    border: 2px outset;
    background-color: white;
    overflow-x: auto;
    box-sizing: border-box;
}

header {
    margin-top: 32px;
    margin-bottom: 48px;
    padding-bottom: 0.4em;

    border-bottom: 3px double black;

    display: flex;
    align-items: center;
    gap: 10px;
}

nav {
    display: flex;
    gap: 5px;
}

header a {
    flex-grow: 1;
}

h1 {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.25;

    color: black;
}

h2 {
    margin-top: 56px;
    margin-bottom: 28px;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #bdbdbd;

    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.25;
}

h3 {
    margin-top: 52px;
    margin-bottom: 32px;

    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.25;
}

p {
    margin-bottom: 32px;
    line-height: 1.5em;
    font-size: 1.1em;
}

ul {
    margin-top: 8px;
    margin-bottom: 16px;
    padding-left: 1.5em;

    font-size: 1.1em;
    list-style-type: circle;
}

li {
    line-height: 1.2em;
}

li:not(:first-of-type) {
    margin-top: .25em;
}

a {
    color: #d00;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: 600;
}

video {
    margin-bottom: 32px;
    width: 100%;
    max-width: 400px !important;
    height: 100%;
}

.grid-demo {
    margin-bottom: 32px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-x: auto;
    background-color: #efefef;
}

.grid-text {
    font-size: .9em;
}

.grid-text h3 {
    margin-top: 6px;
    margin-bottom: 16px;
    border-bottom: 0;
}

.grid-text p {
    margin-bottom: 4px;
}

.grid-text li {
    line-height: 1.3rem;
    font-size: 1em;
}

grid-numbers {
    font-family: monospace;
    align-self: flex-start;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* INDEX end */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */